h2{ 
    color: red; /*esto es un comentario en CSS*/ /*color de la tipo*/ 
    font-size: 40px;

}
h1{
    color: green;
    background-color: yellow; /*fondos*/
    text-align: center; /*alinear*/
    text-transform: uppercase; /*titulo en mayusculas*/

}
p{
    color: blue; /*todos los textos en color azul*/
    line-height: 25px; /*espacio entre linea y linea*/
}

.destacados{
    color: orange;
    font-weight: bold; /*peso - en este caso negrita*/
    font-style: italic;
    font-family: Arial; /*familia tipografica*/
}

#caja {
    background-color: yellow;
    width: 350px;
    height: 350px;
    /* border: 3px solid black; */
    border-right: 3px dashed red; 
    padding: 20px;
    box-sizing: border-box;
    margin-left: 100px;
}